/* The following code is for place holding*/

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;

}

.logo span {
  display: inline-flex;
  height: 17px;
  width: auto;
}

.logo {
  display: flex;
  flex-grow: 1;
  height: 60px;
  padding-left: 30px;
  width: auto;
  align-items: center;
  color: MediumAquamarine;
}

header nav{
  padding-right: 40px;
}

nav span {
  display: inline-block;
  justify-content: left;
  padding: 20px 10px;
  height: 17px;
  width: auto;
}
